@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* import Fonts */

:root {
  --brand-color: #39896b;
  --brand-color-hover-light: #e5f0ec;
  --brand-color-hover: #2b6d55;
  --sub-color: #fae928;
  --bg-color: #ffefe7;
  --text-color: #495057;
  --text-bold: #343a40;
  --gray-200: #868e96;
  /* sub-text */
  --gray-100: #adb5bd;
  /* 댓글 날짜 etc */
  --gray-50: #dee2e6;
  /* progress bg, 구분선 etc */
  --black: #000000;
  --black-op50: rgba(0, 0, 0, 50%);
  --white: #ffffff;
  --white-op50: rgba(255, 255, 255, 50%);
  --blue: #339af0;
  --red: #ff6b6b;

  --border-bold: 1px solid #343a40;
  --border-light: 1px solid #dee2e6;
  --border-main: 1px solid #39896b;
}
